<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://8.136.37.208:3306/whereareyou?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
<!--                <property name="url" value="jdbc:mysql://119.3.233.82:3306/whereareyou?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>-->
                <property name="username" value="WhereAreYou"/>
<!--                <property name="username" value="whereareyou"/>-->
                <property name="password" value="WhereAreYou"/>
<!--                <property name="password" value="whereareyou"/>-->
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/ArticlesMapper.xml"/>
        <mapper resource="mapper/SwiperMapper.xml"/>
        <mapper resource="mapper/PublishMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/ClewMapper.xml"/>
        <mapper resource="mapper/ImageMapper.xml"/>
    </mappers>
</configuration>