.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
}

.head {
    background-color: white;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
}
.head image{
    width: 20px;
    height: 20px;
}

.head .more{
    width: 25px;
    height: 25px;
}

.head text{
    font-size: 20px;
    text-align: center;
    margin-left: -20px;
    flex: 1;
}

.list {
    background-color: #f8f8f8;
    flex: 1;
}

.swipers{
    height: 50%;
}

.swipers image{
    object-fit: cover;
}

.detail-info{
    padding: 15px;
    background-color: white;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 20px 0 #80afbbcc;
    display: flex;
    flex-direction: column;
}

.detail-info .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.divider{
    align-self: flex-end;
    width: 235px;
    margin-right: 10px;
    background-color: #e1e1e1;
}

.status {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status .status-title,.content-wrapper .content-title{
    width: 80px;
    font-size: 14px;
    font-weight: 500;
}

.status .status-title{
    font-size: 24px;
    font-weight: 500;
}

.content-wrapper .content{
    width: 235px;
}

.status .status-list{
    margin: 5px 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status .status-list .status-item{
    border-radius: 5px;
    font-size: 8px;
    background-color: #1a000000;
    padding: 5px 4px;
    display: flex;
    background-color: #f26b44;
    color: white;
    margin-right: 8px;
}

.content-wrapper {
    width: 100%;
    display: flex;
}

.content-wrapper .content{
    font-size: 14px;
}

.tools{
    background-color: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 #b3afbbcc;
}

.tools image{
    width: 27px;
    height: 27px;
}

.tools .clue{
    font-size: 14px;
    width: 90px;
    height: 40px;
    background-color: #eb410e;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.more-info{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.more-info .title{
    font-size: 16px;
    margin-bottom: 10px;
}
.more-info .content{
    font-size: 15px;
    margin-bottom: 5px;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.contacts .contact{
    display: flex;
    flex-direction: column;
}

.contacts .contact .contact-item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-item-title{
    font-size: 16px;
    width: 40px;
}

.contact-item-content{
    font-size: 16px;
}
