.container {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.head {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.head image{
    width: 20px;
    height: 20px;
}

.head text{
    font-size: 18px;
    text-align: center;
    margin-left: -20px;
    flex: 1;
}

.list{
    flex: 1
}

.list-item{
    display: flex;
    flex-direction: column;
}

.articles-content{
    display: flex;
    flex-direction: column;
}

.articles-content .article{
    padding: 0px 10px 0px 20px;
    background-color: white;
    width: 100%;
    height: 80px;
    margin: 2px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.articles-content .article .title-author{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles-content .article .title-author .title{
    color: black;
    font-size: 16px;
}

.articles-content .article .title-author .author{
    color: #999999;
    font-size: 13px;
    margin-top: 10px;
}

.articles-content .article .article-pic{
    padding: 10px;
    object-fit: cover;
    width: 150px;
    border-radius: 10px;
}
.articles-content .article .article-pic-no-width{
    padding: 10px;
    object-fit: cover;
    width: 0%;
    border-radius: 10px;
}

.none{
    margin-top: 100px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.none image{
    width: 40px;
    height: 40px;
}

.none text{
    font-size: 16px;
    margin-top: 10px;
}