.container {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
}
.head image{
    width: 20px;
    height: 20px;
}

.head text{
    font-size: 18px;
    text-align: center;
    margin-left: -20px;
    flex: 1;
}

.list{
    flex: 1
}

.list-item{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.list-item .title{
    font-size: 18px;
    font-weight: 600;
}

.list-item .time{
    font-size: 14px;
    margin-top: 5px;
    color: #989898;
}

.list-item .content{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.list-item .image-item{
    margin-bottom: 10px;
    border-radius: 10px;
}

.list-item .left{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-item .left .ex-location{
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    max-lines: 1;
    text-overflow: ellipsis;
}

.list-item .left .location{
    height: 25px;
    font-size: 14px;
    color: #989898;
    max-lines: 1;
    text-overflow: ellipsis;
}

.contacts{
    padding: 5px 10px;
    margin-bottom: 20px;
}

.contacts-title{
    font-size: 18px;
    font-weight: 600;
}
